:root{
	--mainColor:  #606B56;
	--secondColor: #515a48;

	--borderColor: #161914;

	--mainText: #fff;
	--secondText: #eeeeee;

	--themeBorder: #fff;

	--previewBg: rgba(81, 90, 72, 0.8);
	--previewShadow: #2a2f25;

	--btnColor: #669966;
}